.box {
    width: 100vm;
    height: 100vh;
    position: relative;
    
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 16.6667rem;
   
    position: relative;
}

.title {
    font-weight: bold;
    font-size: 1.1667rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.buttonlogin {
    width: 16.6667rem;
    margin-left: 0;
    position: absolute;
    top: 0;
    left:0.7667rem;
    transform: translate(-6.33rem);
}

.ant-col-offset-8 {
    margin-inline-start: 0% !important;
}