.addArtBox{
    background-color: #fff;
    margin: 20px;
    padding:0px 20px;
    height: 800px;
    position: relative;
}
.header{
  margin-bottom: 20px;
    height: 55px;
    border-bottom: 2px solid #f4f4f4;
}
.header p{
    color: #303133;
   padding: 18px 0px;
    font-size: 16px;
}
.subBtn{
    position: absolute;
    bottom: -80px;
}
.aletMess{
    background-color: #fff;
    border:none;
    color: #e6a23c;
}