.echarbox {
    display: flex;
    justify-content: space-around;
}

.echarLeft {
    width: 25%;
    background-color: aqua;
}

.echarCenter {
    width: 50%;
}

.userBody {
    /* text-align: center; */
    background-color: #fff;
    margin-top: 16px;
    margin: 25px;
}
.header {
    padding: 18px 20px;
    border-bottom: 1px solid #ebebeb;
}
.tableContainer {
    padding: 20px;
}

.noImg {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #c0c4cc;
}